apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: flask-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      # Pod-level security context (recommended)
      securityContext:
        runAsNonRoot: true

      containers:
        - name: flask-app
          image: ghcr.io/cybraman/DevSecops-Project:sha-6716b4f80f1ba75dfcef2c25bdb7ef2ff4e6fb60

          # Image tag will be updated automatically by CI/CD
          imagePullPolicy: Always

          # Container-level security context (REQUIRED by Semgrep)
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false

          ports:
            - containerPort: 5000

          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5

      imagePullSecrets:
        - name: github-container-registry
