<!DOCTYPE html>
<html>
<head>
    <title>DevSecOps Web UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 style="text-align:center;">DevSecOps Pipeline Project</h1>
        <p style="text-align:center;">Web UI secured via CI/CD &amp; DevSecOps</p>
        <div style="display:flex; flex-direction:column; align-items:center; justify-content:center;">
            <button style="margin: 10px auto; display:block;" onclick="loadStatus()">Check Status</button>
            <pre id="output" style="margin: 0 auto; text-align:center;"></pre>
        </div>
    </div>

    <script>
        function loadStatus() {
            fetch('/api/status')
                .then(r => r.json())
                .then(d => {
                    document.getElementById("output").innerText =
                        JSON.stringify(d, null, 2);
                });
        }
    </script>
</body>
</html>
