body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    width: 500px;
    margin: 100px auto;
    background: #020617;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

button {
    background: #22c55e;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

pre {
    margin-top: 20px;
    background: black;
    padding: 10px;
}
